// Button window
$color-btn-close: #ff5f56;
$color-btn-min: #ffbd2e;
$color-btn-max: #27c93f;

// header window
$color-header-text: #999999;
$bg-color-header: #f6f6f6;

// social media
$socmed-color: #ffffff;
$socmed-hover-color: #2c2c2c;

// main section
$bg-color-main: #cb0000;
$bg-color-about: #f0f0f0;
$text-color-primer: #1a1a1a;
$text-color-secunder: #dadada;
