@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
html {
  line-height: 0.9;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  min-height: 100vh;
  background-color: #cb0000;
  color: #1a1a1a;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.main .window {
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.main .window .buttons {
  display: flex;
  gap: 5px;
  align-items: center;
}
.main .window .close,
.main .window .min,
.main .window .max {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  cursor: pointer;
}
.main .window .min {
  background-color: #ffbd2e;
}
.main .window .max {
  background-color: #27c93f;
}
.main .window .close {
  background-color: #ff5f56;
}
.main .window .directory,
.main .window .author {
  font-size: 0.75rem;
  color: #999999;
}
.main .welcome h1,
.main .welcome p {
  color: white;
  margin: 0;
}
.main .welcome h1 {
  font-size: 3.75rem;
  font-weight: 400;
}
.main .welcome p {
  font-size: 1.125rem;
}
.main .welcome .social-links {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}
.main .welcome .social-links .link {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.875rem;
  transition: all 0.2s;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  justify-content: center;
}
.main .welcome .social-links .link:hover {
  color: #2c2c2c;
  transform: translateY(-2px);
  background-color: #ffffff;
}
.main .welcome .social-links .social-icon {
  width: 32px;
  height: 32px;
}
.main .img {
  width: 550px;
  height: 100vh;
  background-image: url("../images/profile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrapper-nav {
  position: absolute;
  border: 1px solid black;
  width: 200px;
  height: 200px;
  bottom: -60px;
  left: -60px;
  display: flex;
  align-items: center;
  border-radius: 100%;
}
.wrapper-nav .button-nav {
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 50px;
  height: 50px;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
}
.wrapper-nav .button-nav .line {
  width: 30px;
  height: 5px;
  background-color: white;
  margin-bottom: 5px;
  border-radius: 5px;
}
.wrapper-nav .list-menu {
  position: relative;
  display: none;
}
.wrapper-nav .list-menu a {
  position: absolute;
  top: 0;
  left: 0;
}

/*# sourceMappingURL=main.css.map */
