/* Variables */
:root {
	--red800: #AE2E24;
	--neutral: #FFFFFF;
	--neutral300: #DCDFE4;
	--dark-neutral: #101214;
	--blue700: #0C66E4;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
}

body {
	min-height: 100vh;
	display: flex;
}

.main_content {
	margin: 0;
	border: 1px solid black;
}

.navbar {
	border: 1px solid black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: calc(16px * 1.2) calc(16px * 2);
}

.navbar .window-btn {
	border: 1px solid black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	width: 100px;
	height: 60px;
}

.navbar .window-btn button {
	width: 30px;
	height: 20px;
	border-radius: 100%;
	border: none;
}

.navbar .window-btn .close {
	background: red;
}

.navbar .window-btn .min {
	background: orange;
}

.navbar .window-btn .max {
	background: green;
}