$color-btn-close: #ff5f56;
$color-btn-min: #ffbd2e;
$color-btn-max: #27c93f;
$color-header-text: #999999;
$bg-color-header: #f6f6f6;
$socmed-color: #666666;
$socmed-hover-color: #333333;
$bg-color-main: #cb0000;
$bg-color-about: #f0f0f0;
$text-color-primer: #1a1a1a;
